@font-face{
  font-family: bitte;  /*定义字体名称*/
  src: url(./assets/font/font.ttf);  /*定义字体文件路径及格式*/
}
@font-face{
  font-family: SiYuan;  /*定义字体名称*/
  src: url(./assets/font/SiYuan.otf);  /*定义字体文件路径及格式*/
}
:root {
  font-family: SiYuan !important;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body{
  margin: 0;
  padding: 0;

}

.el-empty__image{
  opacity: 0.35 !important;
}
.el-notification__title{
  color: #333 !important;
}
.el-notification__content{
  text-align: left !important;
}